* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans"
}

a {
    text-decoration: none;
}

/*menu-info*/
.menu-info-bg {
    background:#FF9C4A;
}

.menu-info {
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}    
 
.menu-info a {
    color: #000;
}

.menu-info-left {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px;
}

.menu-info-center {
    margin-right: auto;
    margin-left: 1.21rem;
}

.menu-info-right {
    text-transform: uppercase;
}

.menu-info-right ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.menu-info-right a {
    font-size: 12px;
    display: block;
    padding: 0.35rem;
}
.menu-info a:hover {
    color: #FFF;
    transition: 0.4s;
}

/*menu-navbar*/
.menu-navbar-bg {
    background:#000;
}
.menu-navbar {
    height: 35px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.menu-navbar {
    font-size: 12px;
    text-transform: uppercase;
}

.menu-navbar a {
    color: #FFF;
}
.menu-navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.menu-navbar a {
    padding: 0.35rem;
}
/*Pq active não começa selecionado?*/
.menu-navbar a.active{
    background-color: #FF9C4A;
}
.menu-navbar a:hover {
    color: #FF9C4A;
    background-color: #000;
    transition: 0.4s;
}
.menu-navbar-left li {
    border-right: solid 1px honeydew;
}

.menu-navbar-left li:first-child {
    border-right: none;
}

.menu-navbar-left li:last-child {
    border-right: none;
}


body {
    background: #d3d3d3;
}

.content-bg {
    background: white;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

/*Pokémons container*/
.content-left {
    display: flex;
    flex-wrap: wrap;
    width: 68%;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}

.container-card {
    width: 140px;
    height: 220px;
    margin: 10px;
    border: 2px solid #d3d3d3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: normal;  
    align-items: center;
}

.img {
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}

.container-card-title {
    font-size: 12px;
    font-weight: bold;
    margin: 4px;
    text-align: center;
}

.container-card-p-gray {
    font-size: 12px;
    margin: 2px;
    color: gray;
    text-decoration: line-through;
    text-align: center;
}

.container-card-p-green {
    font-size: 12px;
    font-weight: bold;
    margin: 2px;
    color: green;
    text-align: center;
}

.container-card .container-card-btn {
    display: inline-block;
    background: #77DD77;
    font-size: 12px;
    padding: 6px 40px;
    color: white;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 10px;
}

/* Aside */
.content-right {
    display: flex;
    flex-direction: column;
    width: 28%;
    align-items: center;
    padding: 0px;
    margin-top: 15px;
}

.banner-ad {
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.content-right-list {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-right-list p {
    border-bottom: 1px solid #d3d3d3;
    margin: 13px;
    font-size: 18px;    
}

.content-right-list p:first-child {
    margin-bottom: 12px;
    font-size: 13px;
}

.content-right-list p:last-child {
    border-bottom: none;
}

.img-list {
    width: 20px;
}

.content-right-newsletter {
    background:  #d3d3d3;
    width: 200px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-top: 15px;
}

.ph {
    text-align: center;
}

.title-newsletter p {
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.content-right-newsletter input {
    width: 170px;
    height: 35px;
    margin-left: 15px;
    margin-bottom: 10px;
    border: 0px;
}

/* Seu e-mail */
form p {
    font-size: 10px;
    margin-left: 26px;
    margin-bottom: 10px;
    text-align: left;
}

.btn-newsletter {
    background: #007FFF;
    width: 170px;
    height: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
}

/* Footer */
.footer-bg {
    background: #000;
    height: 100%;
}

.footer-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #FFF;
}

.footer-container ul {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 12px;
}

.footer-center {
    margin-right: auto;
    margin-left: 40px;
    margin-top: 20px;
    
}

.footer-center p {
    padding: 4px;
    border-bottom: 1px solid #FFF;
}

.footer-center p:first-child {
    margin-bottom: 4px;
    font-size: 12px;
}

.footer-center p:last-child {
    border-bottom: 0px;
}

.footer-right ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer-right a {
    font-size: 1.25em;
    display: block;
    padding: 5px;
    color: #FFF;
}
.footer-right a:hover {
    color: gray;
    transition: 0.4s;
}

div .footer-copy {
    width: 100%;
}

.footer-copy p {
    font-size: 10px;
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .content-left {
        width: 100%;
    }
    
    .content-bg {
        padding-bottom: 15px;
    
}
}

@media (max-width: 700px) {
    .content-right {
        display: contents;
}
}
